version: "3.9"

services:
  redis:
    image: redis:7
    container_name: csp_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  csp-ingestor:
    build: ./CSP-INGESTOR
    container_name: csp_ingestor
    ports:
      - "8083:8083"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

volumes:
  redis_data:
