openapi: 3.0.0
info:
  title: User Microservice API
  version: 1.1.0
  description: |
    Microservice de gestion des utilisateurs, de l'authentification et des rôles.  
    Ce service agit comme **API d'authentification centrale (Auth Gateway)** pour les autres microservices.
    - Gère l'inscription (`/register`), la connexion (`/login`), la vérification du token (`/verify-token`)
    - Stocke les utilisateurs et leurs sessions dans Redis
    - Fournit un système de rôles (`USER`, `SRE`, `ADMIN`)
servers:
  - url: http://localhost:5010
    description: Serveur local de développement

tags:
  - name: Authentication
    description: Gestion de l'authentification et des tokens JWT
  - name: Users
    description: Gestion des utilisateurs (consultation, création, filtre par rôle)
  - name: Gateway
    description: Vérification des tokens par les autres microservices

paths:
  /api/v1/register:
    post:
      tags: [Users]
      summary: Inscription d'un nouvel utilisateur
      description: |
        Crée un nouvel utilisateur avec un rôle défini (`USER`, `SRE`, `ADMIN`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firstname, lastname, email, password, role]
              properties:
                firstname:
                  type: string
                  example: Simon
                lastname:
                  type: string
                  example: Pierre
                email:
                  type: string
                  format: email
                  example: simon.pierre@example.com
                password:
                  type: string
                  format: password
                  example: Password123
                role:
                  type: string
                  enum: [USER, SRE, ADMIN]
                  example: USER
      responses:
        '201':
          description: Utilisateur créé avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Utilisateur créé avec succès.
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Données invalides ou champs manquants
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Champs manquants ou donnees invalides
        '409':
          description: Conflit - Email déjà enregistré
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Un email avec cet email existe deja.
        '500':
          description: Erreur interne lors de la création
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Erreur interne du serveur


  /api/v1/login:
    post:
      tags: [Authentication]
      summary: Connexion d'un utilisateur
      description: |
        Authentifie un utilisateur avec son email et son mot de passe.  
        Retourne un **JWT Token** et les informations utilisateur.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: simon.pierre@example.com
                password:
                  type: string
                  format: password
                  example: Password123
      responses:
        '200':
          description: Connexion réussie
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully logged in!
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Corps de requête invalide ou champs manquants
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Champs manquants ou champs malformés
        '401':
          description: Mot de passe incorrect
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Mot de passe incorrect
        '404':
          description: Utilisateur inexistant
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Utilisateur inexistant en base de donnees
        '500':
          description: Erreur interne du serveur


  /api/v1/verify-token:
    get:
      tags: [Gateway]
      summary: Vérifie la validité d'un token JWT
      description: |
        Vérifie un **token JWT** envoyé dans le header `Authorization: Bearer <token>`.  
        - Valide la signature, l’expiration et la présence dans Redis.  
        - Utilisé par les **autres microservices** pour valider un utilisateur.
        - Utilisé par le frontend pour obtenir l'utilisateur connectée.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token valide, session active
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Utilisateur connecté
                  user:
                    $ref: '#/components/schemas/User'
        '403':
          description: Token manquant, expiré ou invalide
        '500':
          description: Erreur interne du serveur


  /api/v1/users:
    get:
      tags: [Users]
      summary: Récupère tous les utilisateurs
      description: |
        Retourne la liste complète des utilisateurs enregistrés dans Redis.  
        ⚠️ Accessible uniquement aux rôles `ADMIN` ou `SRE`.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Liste des utilisateurs
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 3
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '403':
          description: Accès refusé (rôle insuffisant)
        '500':
          description: Erreur interne du serveur
  /api/v1/logout:
    post:
      tags: [Authentication]
      summary: Déconnexion d'un utilisateur
      description: |
        Déconnecte l'utilisateur en révoquant son token JWT dans Redis.  
        Le token devient immédiatement inutilisable, même s'il n'est pas expiré.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Déconnexion réussie
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Utilisateur déconnecté avec succès
        '403':
          description: Token manquant, expiré, invalide ou déjà révoqué
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Token révoqué
        '500':
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Une erreur inattendue est survenue lors de la déconnexion
  /api/v1/users/role/{role}:
    get:
      tags: [Users]
      summary: Récupère les utilisateurs filtrés par rôle
      description: |
        Retourne la liste des utilisateurs ayant le rôle spécifié.  
        ⚠️ Accessible uniquement aux rôles `ADMIN` ou `SRE`.  
        Le filtre est insensible à la casse (admin = ADMIN = Admin).
      security:
        - bearerAuth: []
      parameters:
        - name: role
          in: path
          required: true
          description: Rôle des utilisateurs à récupérer
          schema:
            type: string
            enum: [USER, SRE, ADMIN]
            example: ADMIN
      responses:
        '200':
          description: Liste des utilisateurs filtrés par rôle
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 2
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '403':
          description: Accès refusé (token invalide ou permissions insuffisantes)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Permission refusée, Vous devez être ['ADMIN', 'SRE']
        '500':
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Cannot connect to database                  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      description: Représentation d'un utilisateur du système
      properties:
        id_user:
          type: string
          example: 4fa3a1c2-84ad-42b8-8123-1234abcd5678
        firstname:
          type: string
          example: Simon
        lastname:
          type: string
          example: Pierre
        email:
          type: string
          format: email
          example: simon.pierre@example.com
        role:
          type: string
          enum: [USER, SRE, ADMIN]
          example: USER
        token:
          type: string
          description: JWT Token actif de l'utilisateur (vide si déconnecté)
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        created_at:
          type: string
          format: date-time
          example: 2025-11-10T10:30:00Z
